.bar{
    display: flex;
    height: 90px;
    align-items: end;
}

.info, .status{
    padding-bottom: 20px;
}

.status{
    margin-right: 50px;
}

.info-title{
    font-size: 20px;
    color: #7B7B7B;
}
.info-description{
    font-size: 14px;
}
.status-title{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
}